@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');


/*variables*/
:root{
    /*primary*/
    --background-color-intro:hsl(217, 28%, 15%);
    --background-color-main:hsl(218, 28%, 13%);
    --background-color-footer:hsl(216, 53%, 9%);
    --background-color-testimonial: hsl(219,30%, 18%);

    /*neutral*/
    --white: hsl(0, 0%, 100%);
}
*,
::after,
::before{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.cc-container{
    width: 100%;
    max-width: 1440px;
    margin: auto;

}

body{
    font-size: 14px;
    background-color: var(--background-color-main);
color: var(--white);
}

..cc-logo{
    width: 60px;
}

.cc-img-container{
    background-image: url(./images/bg-curvy-mobile.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.cc-link{
    border-bottom: 1px solid #05c2c9;
}

.card{
    background-color: var(--background-color-testimonial);
}

.cc-p{
    margin: 0;
}
/*footer*/

.cc-f1{
    float: left;
    width: 10%;
}

.cc-f2{
    float: left;
    width: 90%;
}
